venv/
shell/backend/__pycache__/
shell/frontend/dist
shell/frontend/node_modules/
shell/frontend/package-lock.json
setup-venv.ps1

__pycache__/
*.pyc
*.pyo
*.pyd
opencode.json

# 运行时代码
data/
.config/plugins/
.build/

# 脚本
scripts/

docs/Releases/*.exe
docs/Releases/*.7z
docs/Releases/*.zip
docs/Releases/omnibox/
docs/Releases/__pycache__/

#linux 启动脚本
OmniBox-OneClick.ps1
